{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap -->
        <title>{% block title %}Welcome!{% endblock %} | Libetto</title>
        
        {% block stylesheets %}
            {% stylesheets
              filter='cssrewrite,yui_css'
              output='css/main.css'
              combine=true
              '../app/Resources/public/css/bootstrap.min.css' 
              '../app/Resources/public/css/bootstrap-responsive.min.css' 
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            {% javascripts 
              filter='yui_js'
              output='js/main.js'
              combine=true
              "../app/Resources/public/js/jquery.min.js" 
              "../app/Resources/public/js/bootstrap.min.js" 
              "../app/Resources/public/js/angular.min.js"
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
    </body>
</html>
