{% extends "::base.html.twig" %}

{% block title %}LibettoMaintenanceBundle:JQUITest:loadAjax{% endblock %}


{% block stylesheets%}
{{ parent() }}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
<script>
    $(function() {
        var cache = {};
        $("#user").autocomplete({
            minLength: 1,
            delay: 500,
            source: function(request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[ term ]);
                    return;
                }
                $.getJSON("{{ path('load_ajax') }}", request, function(data, status, xhr) {
                    cache[ term ] = data;
                    response(data);
                });
            }
        });
        
        
        $("#mastertable").autocomplete({
            minLength: 1,
            delay: 500,
            source: function(request, response) {
                var term = request.term;
                
                if (term in cache) {
                    response(cache[ term ]);
                    return;
                }
                
                $.getJSON("{{ path('load_ajax_mastertable') }}", request, function(data, status, xhr) {
                    cache[ term ] = data;
                    response(data);
                });
            }
        });
        
        
    });
    </script>
{% endblock %}

{% block body %}
    <div class="ui-widget">
        <label for="user">Find email address by username: </label>
        <input id="user" />
    </div>
    <div class="ui-widget">
        <label for="mastertable">Find entities by tablename: </label>
        <input id="mastertable" />
    </div>


{% endblock %}
