{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}customer.customer.title.Customer creation{% endtrans %}</h1>

    <form action="{{ path('customer_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a href="{{ path('customer') }}" class="btn btn-default">
                <i class="icon-arrow-left"></i>
                {% trans %}Back to the list{% endtrans %}
            </a> &nbsp;
            <button type="submit" class="btn btn-success"><i class="icon-save"></i> {% trans %}customer.customer.form.action.Save{% endtrans %}</button>
        </p>
    </form>



{% endblock %}
