{% block widget2 %}
    <div id="widgetProjectDetails">
        details:
        {{ app.request.get('_template').get('bundle') }}<br />
{{ app.request.get('_template').get('name') }}
    </div>
{% endblock %}  


{% block javascript %}
         
            {% javascripts 
              filter='?yui_js'
              output='Resources/js/widgetProjectDetails.js'
              combine=true
              debug=false
              "@VisionsRedmineBundle/Resources/public/js/widgetProjectDetails.js"
            %}
<script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
{% endblock %} 