{% extends '::base.html.twig' %}
{% block title %}{% trans %}item.product.title.List{% endtrans %}{% endblock title  %}
{% block body -%}
<h1>{% trans %}item.product.title.List{% endtrans %}</h1>
<table id="data_table" class="table table-striped table-bordered table-hover "></table>

<br />
    <a href="{{ path('product_new') }}" class="btn btn-success">
        <li class="icon-plus"></li>
        {% trans %}item.product.action.Create{% endtrans %}
    </a>
    {% endblock %}
    
{% block javascript %}
            {{ parent() }}
            {% javascripts 
              filter='?yui_js'
              output='Resources/js/datatables.js'
              combine=true
              debug=false
            %}

            <script type="text/javascript">
            $(document).ready(function() {
                /* Fill Datatable */
                $.ajax( {
                    "url": "{{ path('get_products') }}.json",
                    "dataType": 'json',
                    "success": function ( json ) {
                        $('#data_table').dataTable( json );
                    }
                });
            } );
        </script>
    {% endjavascripts %}     
{% endblock %}