{% extends '::base.html.twig' %}
{% block title %}{% trans %}item.media.title.Creation{% endtrans %}{% endblock title  %}
{% block body -%}

<h1>{% trans %}item.media.title.Creation{% endtrans %}</h1>

<form action="{{ path('media_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">
            <li class="icon-save"></li> {% trans %}item.media.action.Save{% endtrans %}
        </button>
    </form>
    <hr/>
    <a href="{{ path('media', {'productid':entity.rRefId}) }}" class="btn">
        <li class="icon-backward"></li> {% trans %}core.Back to the list{% endtrans %}
    </a>
{% endblock %}
