{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}customer.lead.title.Lead creation{% endtrans %}</h1>

    <form action="{{ path('lead_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <a href="{{ path('lead') }}" class="btn btn-default">
                <i class="icon-arrow-left"></i>
                {% trans %}customer.action.Back to the list{% endtrans %}
            </a> &nbsp;
            <button type="submit" class="btn btn-success"><i class="icon-save"></i> {% trans %}customer.lead.form.action.Save{% endtrans %}</button>
        </p>
    </form>
{% endblock %}